.Start{
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: 0px 30px;
    color: rgb(255, 251, 2);
    font-weight: 700;
    font-size: 20px;
}
.MainText1{
    font-family:'Times New Roman', sans-serif;
    background-color: rgba(0, 0, 0, 0.712);
    justify-content: start;
    padding: 0.2% 10px 0.2% 10px;
    border-radius: 0px 0px 0px 15px;
    color: rgb(248, 244, 31);
}
.Main1{
    padding: 0 31% 5% 3%;
    position: absolute;
    height: 0;
}
.RightText1{
    font-family:'Times New Roman', sans-serif;
    background-color: rgba(39, 37, 37, 0.712);
    justify-content: start;
    padding: 0.2% 10px 0.2% 10px;
    border-radius: 0px 0px 15px 0px;
    color: rgb(190, 176, 176);
}
.Main2{
    padding: 0 5% 5% 69%;
    position: absolute;
    height: 0;

}
.MainA{
    padding: 7% 5% 4.7% 3%;
    position: relative;
    height: 0;
}
.MainB{
    
    background-color: rgba(0, 0, 0, 0.938);
    border-radius: 15px 15px 0px 0px;
    display: flex;
}
.MainB__g{
    text-decoration: none;
    font-family:'Times New Roman', sans-serif;
    font-weight: 700;
    color: rgb(233, 229, 20);
    padding: 20px;
}
.RightText1__g{
    text-decoration: none;
    color: rgb(190, 176, 176);
    font-weight: 700;
    padding: 0.2% 10px 0.2% 10px;
    font-size: 20px
}
.Secret{
    display: flex;
    justify-content: right;
}
.Secret1{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(87, 80, 80, 0.795);
    animation: Roland 4s alternate infinite;
}
@keyframes Roland {
    /* from {color: linear-gradient(right, yellow); stop-color: red 55%, orange}
    to {color: linear-gradient(right, yellow); stop-color: blue 25%, orange} */
    from {background: linear-gradient(to right, rgba(255, 255, 0, 0.548), rgba(255, 0, 0, 0.548))}
    to {background: linear-gradient(to right, rgba(255, 0, 0, 0.548), rgba(255, 255, 0, 0.548))}
}